@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

html {
	width: 100%;
	background-color: white;
}
body {
	font-family: 'Noto Sans';
	position: relative;
	width: 80%;
	margin: 0 auto;
}

#post {
	z-index: 1;
	width: inherit;
	background-color: white;
	position: fixed;
	top: 0;
	padding-bottom: 20px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 86%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(86%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 86%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 86%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 86%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 86%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#post h1 {
	width: 100%;
	max-width: 1000px;
	text-align: center;
	margin: 0.2em auto;
}
#post textarea {
	display: block;
	padding: 20px;
	border: 1px solid rgba(125, 125, 125, .5);
}
#post input {
	display: block;
	margin: 0 auto;
}

#board {
	width: 100%;
}
#board li {
	list-style: none;
	margin: 10px 0;
	padding: 20px;
	border: 1px solid rgba(125, 125, 125, .5);
}
#board ul {
	padding: 0;
}