@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

html {
	width: 100%;
	background-color: white;
}
body {
	font-family: 'Noto Sans';
	position: relative;
	width: 80%;
	margin: 0 auto;
}

#post {
	height: 130px;
	width: inherit;
	background-color: white;
	position: fixed;
	top: 0;
}
#post textarea {
	display: block;
	padding: 20px;
	border: 1px solid rgba(125, 125, 125, .5);
}
#post input {
	display: block;
	margin: 0 auto;
}

#board {
	width: 100%;
	margin-top: 130px;
}
#board li {
	list-style: none;
	margin: 10px 0;
	padding: 20px;
	border: 1px solid rgba(125, 125, 125, .5);
}
#board ol {
	padding: 0;
}